:root {
    --primary-text: #20bcc7;
    --tertiary-text: #dee2e6ff;
    --light-gray: #ced4daff;
    --secundary-text: #adb5bdff;
    --davys-grey: #495057ff;
    --onyx: #343a40ff;
    --background: #212529ff;

}